<!--
   ChewyChupucabras - Tanzeem Hasan, Ethan Sie, Brian Liu
   SoftDev
   P02:
   2024-01-XX
   Time Spent: not enough hours
   -->
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Chupamon Showdown - Game</title>
      <script src="https://cdn.tailwindcss.com"></script>
      <script>
         function toggleHidden(id) {
             const toggle = document.getElementById(id);
             toggle.classList.toggle('hidden');
         }
      </script>
      <style>
         @keyframes fadeOut {
         0% {
         opacity: 1;
         }
         100% {
         opacity: 0;
         }
         }
         .animate-fade-out {
         animation: fadeOut 5s ease-in-out forwards;
         }
         .hp-bar {
         background-color: #48bb78; /* green */
         height: 1rem;
         border-radius: 0.5rem;
         }
         .hp-bar-low {
         background-color: #f56565; /* red */
         }
         .hp-bar-container {
         background-color: #4a5568; /* gray */
         height: 1rem;
         border-radius: 0.5rem;
         overflow: hidden;
         }
      </style>
   </head>
   {% if mode %}
   <body class="bg-white text-black min-h-screen flex flex-col">
      {% else %}
      <body class="bg-gray-900 text-white min-h-screen flex flex-col">
         {% endif %}
         <!-- Header -->
         {% if mode %}
         <header class="bg-gray-300 p-4 shadow-md">
            <div class="container mx-auto flex items-center justify-between">
               <h1 class="text-xl font-bold"><a href="/"> Chupamon Showdown </a> </h1>
               <nav>
                  <a href="/" class="text-gray-700 hover:text-black px-4">Home</a>
                  <a href="/ladder" class="text-gray-700 hover:text-black px-4">Ladder</a>
                  <a href="/history" class="text-gray-700 hover:text-black px-4">Match History</a>
                  <a href="/chupadex" class="text-gray-700 hover:text-black px-4">ChupaDex</a>
                  <button onclick="toggleHidden('settings')" class="text-gray-700 hover:text-black px-4">Account Settings</button>
               </nav>
            </div>
         </header>
         {% else %}
         <header class="bg-gray-800 p-4 shadow-md">
            <div class="container mx-auto flex items-center justify-between">
               <h1 class="text-xl font-bold"><a href="/"> Chupamon Showdown </a> </h1>
               <nav>
                  <a href="/" class="text-gray-300 hover:text-white px-4">Home</a>
                  <a href="/ladder" class="text-gray-300 hover:text-white px-4">Ladder</a>
                  <a href="/history" class="text-gray-300 hover:text-white px-4">Match History</a>
                  <a href="/chupadex" class="text-gray-300 hover:text-white px-4">ChupaDex</a>
                  <button onclick="toggleHidden('settings')" class="text-gray-300 hover:text-white px-4">Account Settings</button>
               </nav>
            </div>
         </header>
         {% endif %}

         <!-- Main Content -->
         <main class="flex-grow container mx-auto p-8">
            <div class="grid grid-cols-2 gap-8">
               <!-- Opponent's Side -->
               {% if mode %}
               <div class="bg-gray-200 p-4 rounded shadow-md">
                  <h3 class="text-xl font-bold text-center text-black">{{ username1 }}</h3>
                  <div class="text-center mb-4">
                     <div class="text-gray-700">Chupamon: <span class="font-semibold">{{ poke1Name }}</span></div>
                     <div class="hp-bar-container">
                        <div class="hp-bar w-3/4"></div>
                     </div>
                     <div class="text-gray-700 text-sm">HP: {{ hp1}}</div>
                  </div>
                  <div class="bg-gray-300 w-40 h-40 mx-auto rounded-lg shadow-inner"></div>
               </div>
               {% else %}
               <div class="bg-gray-800 p-4 rounded shadow-md">
                  <h3 class="text-xl font-bold text-center">{{ username1 }}</h3>
                  <div class="text-center mb-4">
                     <div class="text-gray-300">Chupamon: <span class="font-semibold">{{ poke1Name }}</span></div>
                     <div class="hp-bar-container">
                        <div class="hp-bar w-3/4"></div>
                     </div>
                     <div class="text-gray-300 text-sm">HP: {{ hp1 }}</div>
                  </div>
                  <div class="bg-gray-300 w-40 h-40 mx-auto rounded-lg shadow-inner">
                     <img src="{{ sprite1 }}" alt="Pokemon1">
                  </div>
               </div>
               {% endif %}
               <!-- Player's Side -->
               {% if mode %}
               <div class="bg-gray-200 p-4 rounded shadow-md">
                  <h3 class="text-xl font-bold text-center text-black">{{ username2 }}</h3>
                  <div class="text-center mb-4">
                     <div class="text-gray-700">Chupamon: <span class="font-semibold">{{ poke2Name }}</span></div>
                     <div class="hp-bar-container">
                        <div class="hp-bar hp-bar-low w-1/2"></div>
                     </div>
                     <div class="text-gray-700 text-sm">HP: {{ hp2 }}</div>
                  </div>
                  <div class="bg-gray-300 w-40 h-40 mx-auto rounded-lg shadow-inner"></div>
               </div>
               {% else %}
               <div class="bg-gray-800 p-4 rounded shadow-md">
                  <h3 class="text-xl font-bold text-center">{{ username2 }}</h3>
                  <div class="text-center mb-4">
                     <div class="text-gray-300">Chupamon: <span class="font-semibold">{{ poke2Name }}</span></div>
                     <div class="hp-bar-container">
                        <div class="hp-bar hp-bar-low w-1/2"></div>
                     </div>
                     <div class="text-gray-300 text-sm">HP: {{ hp2 }}</div>
                  </div>
                  <div class="bg-gray-700 w-40 h-40 mx-auto rounded-lg shadow-inner">
                     <img src="{{ sprite2 }}" alt="Pokemon1">
                  </div>
               </div>
               {% endif %}
            </div>
            <!-- Action Buttons -->
            {% if mode %}
            <div class="mt-8 bg-gray-200 p-4 rounded shadow-md text-center">
               <h3 class="text-2xl font-bold mb-4 text-black">Choose an Action</h3>
               <div class="grid grid-cols-2 gap-4">
                  <button onclick="toggleHidden('move')" class="bg-blue-600 hover:bg-blue-300 text-white py-2 px-4 rounded">Attack</button>
                  <button onclick="toggleHidden('swap')" class="bg-green-600 hover:bg-green-300 text-white py-2 px-4 rounded">Switch</button>
               </div>
               <div class="grid mt-5 grid-cols-1 gap-4">
                  <form method="POST" class="bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded"><button name="form_type" value="surrender" class="">Run</button></form>
               </div>
            </div>
            {% else %}
            <div class="mt-8 bg-gray-800 p-4 rounded shadow-md text-center">
               <h3 class="text-2xl font-bold mb-4">Choose an Action</h3>
               <div class="grid grid-cols-2 gap-4">
                  <button onclick="toggleHidden('move')" class="bg-blue-600 hover:bg-blue-300 text-white py-2 px-4 rounded">Attack</button>
                  <button onclick="toggleHidden('swap')" class="bg-green-600 hover:bg-green-700 text-white py-2 px-4 rounded">Switch</button>
               </div>
               <div class="grid mt-5 grid-cols-1 gap-4">
                  <form method="POST" class="bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded"><button name="form_type" value="surrender" class="w-full h-full">Run</button></form>
               </div>
            </div>
            {% endif %}

            <!-- Battle Log -->
            {% if mode %}
            <div class="mt-8 bg-gray-200 p-4 rounded shadow-md">
               <h3 class="text-2xl font-bold mb-4 text-black">Battle Log</h3>
               <div class="bg-gray-300 p-4 rounded overflow-y-auto h-40">
                 {% for text in battlelog%}
                    <p class="text-gray-700"> {{text[1]}} </p>
                 {% endfor %}
               </div>
            </div>
            {% else %}
            <div class="mt-8 bg-gray-800 p-4 rounded shadow-md">
               <h3 class="text-2xl font-bold mb-4">Battle Log</h3>
               <div class="bg-gray-700 p-4 rounded overflow-y-auto h-40">
                  {% for text in battlelog%}
                     <p class="text-gray-700"> {{text[1]}} </p>
                  {% endfor %}
               </div>
            </div>
            {% endif %}
         </main>

         <!-- Account Settings  -->
         {% if mode %}
         <div id="settings" class="fixed inset-0 bg-black bg-opacity-70 hidden flex items-center justify-center">
            <div class="bg-gray-300 p-6 rounded shadow-lg w-96">
               <h3 class="text-2xl font-bold mb-4">Account Settings</h3>
               {% if logged_in %}
               <form action="/mode_swap" method="POST" class="space-y-4">
                  <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded">Swap Screen Color</button>
               </form>
               {% else %}
               <h3 class="text-2xl font-bold mb-4">Log in first!</h3>
               {% endif %}
               <div class="flex justify-between items-center">
                  <button type="button" onclick="toggleHidden('settings')" class="text-gray-600 hover:text-black">Cancel</button>
               </div>
            </div>
         </div>
         {% else %}
         <div id="settings" class="fixed inset-0 bg-black bg-opacity-70 hidden flex items-center justify-center">
            <div class="bg-gray-800 p-6 rounded shadow-lg w-96">
               <h3 class="text-2xl font-bold mb-4">Account Settings</h3>
               {% if logged_in %}
               <form action="/mode_swap" method="POST" class="space-y-4">
                  <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded">Swap Screen Color</button>
               </form>
               {% else %}
               <h3 class="text-2xl font-bold mb-4">Log in first!</h3>
               {% endif %}
               <div class="flex justify-between items-center">
                  <button type="button" onclick="toggleHidden('settings')" class="text-gray-400 hover:text-white">Cancel</button>
               </div>
            </div>
         </div>
         {% endif %}
         <!--Attack Button-->
         <div id="move" class="fixed inset-0 bg-black bg-opacity-70 hidden flex items-center justify-center">
            {% if mode %}
            <div class="bg-gray-100 p-6 rounded shadow-lg w-96">
               {% else %}
               <div class="bg-gray-800 p-6 rounded shadow-lg w-96">
                  {% endif %}
                  <h3 class="text-2xl font-bold mb-4">Choose a Move!</h3>
                  <form action="/game" method="POST" class="space-y-4">
                     <div>
                        <select name="move_name" id = "move" size="4" required>
                           {% for move in pokeMoves %}
                           <option value="{{move}}"class="text-black">{{move}}</option>
                           {% endfor %}
                         </select>
                     </div>
                     <div class="flex justify-between items-center">
                        <button name="form_type" value="attack" type="submit" class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded">Choose Move!</button>
                        <button type="button" onclick="toggleHidden('move')" class="text-gray-400 hover:text-white">Cancel</button>
                     </div>
                  </form>
               </div>
            </div>
         <!--Swap Button-->
         <div id="swap" class="fixed inset-0 bg-black bg-opacity-70 hidden flex items-center justify-center">
               {% if mode %}
               <div class="bg-gray-100 p-6 rounded shadow-lg w-96">
                  {% else %}
                  <div class="bg-gray-800 p-6 rounded shadow-lg w-96">
                     {% endif %}
                     <h3 class="text-2xl font-bold mb-4">Swap Pokemon!</h3>
                     <form action="/game" method="POST" class="space-y-4">
                        <div>
                           <select name="poke_name" id = "swap" size="5" required>
                              {% for poke in inactivePokemon %}
                              <option value="{{poke}}"class="text-black">{{poke}}</option>
                              {% endfor %}
                            </select>
                        </div>
                        <div class="flex justify-between items-center">
                           <button name="form_type" value="swap" type="submit" class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded">Swap!</button>
                           <button type="button" onclick="toggleHidden('swap')" class="text-gray-400 hover:text-white">Cancel</button>
                        </div>
                     </form>
                  </div>
               </div>
         <!-- Footer -->
         {% if mode %}
         <footer class="bg-gray-300 p-4 text-center">
         <p class="text-gray-700 text-sm">&copy; 2025 Chupamon Showdown. All rights reserved.</p>
         {% else %}
         <footer class="bg-gray-800 p-4 text-center">
            <p class="text-gray-400 text-sm">&copy; 2025 Chupamon Showdown. All rights reserved.</p>
            {% endif %}
         </footer>
   </body>
</html>
